<h1>Account Details</h1>
<div>
  <h2>About You</h2>
  <p>First Name: {{user.first_name}}</p>
  <p>Last Name: {{user.last_name}}</p>
  <p>City: {{user.city}}</p>
  <p>Phone Number: {{user.phone}}</p>
  <p>Email Address: {{user.email}}</p>
  <p>Bio: {{user.bio}}</p>
</div>
<button class ="buttonCustom" type="button">
  <a>
    Edit Your Details</button>
<div>
  {% if user.user_type == "Owner" %}
    <h2>About Your Dogs</h2>
    {% for dog in user.dog %}
      {% for photo in dog.dog_photo %}
        <img src="{{ url_for('static', filename ='images/'+ photo.photo) }}">
      {% endfor %}
    <p>Name: {{dog.dog_name}}</p>
    <p>Age: {{dog.dog_age}} </p>
    <p>Description: {{dog.description}}</p>
    <p>Type: {{dog.dog_type.type_name}}</p>
    {% endfor %}
  <input class ="buttonCustom" type="submit" value="Edit Dog Details" onclick="" >
  {% endif %}
    <br>
    {{ message }}
</div>
