{% extends "layout.html" %}
{% block body_content %}
<div class="editGridContainer">
    <div id="heroColorBackground"></div>
    <div class="editContent">
        <img src="/static/images/logo 2.png" alt="Logo"/>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="flashMessage">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h1> About You </h1>
            <div class='editContent'>
                <a class="customLinkStyling" id="editButton" href="/edituser/{{user.id}}">Edit Your Details</a>
                <p>First Name: {{user.first_name}}</p>
                <p>Last Name: {{user.last_name}}</p>
                <p>City: {{user.city}}</p>
                <p>Phone Number: {{user.phone}}</p>
                <p>Email Address: {{user.email}}</p>
                <p>Bio: {{user.bio}}</p>
            </div>
    </div>
</div>
<div class="editGridContainer">
    <div class="editContent">
    {% if user.user_type == "Owner" %}
        <h1> About Your Dogs </h1>
            {% for dog in user.dog %}
        <div>
            <a class="customLinkStyling" id="editButton" href="/editdog/{{dog.id}}">Edit Dog</a>
            <p>Name: {{dog.dog_name}}</p>
            <p>Age: {{dog.dog_age}} </p>
            <p>Description: {{dog.description}}</p>
            <p>Type: {{dog.dog_type.type_name}}</p>
            {% for photo in dog.dog_photo %}
              <img class="imgPreview", src="{{ url_for('static', filename ='images/'+ photo.photo) }}">
            {% endfor %}
        </div>
            {% endfor %}
    {% endif %}
        <div>
             <form method='POST' action=''>
                 {{ delete_form.csrf_token }}
                <button type="submit" class="customLinkStyling" id="buttonWarning" >Delete Account</button>
             </form>
        </div>
    </div>
</div>

  <br>
  {{ message }}
{% endblock %}