{% extends "layout.html" %}
{% block body_content %}
<div class="gridContainer">
		<div class="logoContainer">
			<img id="waveRotated" src="/static/images/waveRotated.svg">
				<div id="fetchContainer">
					<img src="/static/images/logo 2.png" alt=""> <br>
					<p> Creating Pawsitive Connections </p>
					<img src="/static/images/dog.png">
				</div>
		</div>
		<div class="accountContainer">
			<div id="accountHeading">
				<h1> Sign Up </h1>
				<p>Sign up today and let us FETCH you matches! If you already have an account  <a href=login>login here!</a></p>
			</div>
			<div id="formSection">
				<form>
					<h2> About You </h2>
					<input type="email" id="emailInput" placeholder="Enter Email" name="emailInput">
					<br>
					<br>
					<input type="password" id="passwordInput" placeholder="Password" name="passwordInput">
					<br>
					<br>
					<input type="text" id="fnameInput" placeholder="First Name" name="fnameInput">
					<br>
					<br>
					<input type="text" id="lnameInput" placeholder="Surname" name="lnameInput">
					<br>
					<br>
					<input type="text" id="cityInput" placeholder="City" name="cityInput">
					<br>
					<br>
					<input type="text" id="phoneInput" placeholder="Phone No." name="phoneInput">
					<br>
					<br>
					<label class="signup"> Tell others a bit about yourself:</label><br>
					<textarea rows="5" cols="33"></textarea>
					<br>
					<br>
					<input type="submit" onclick="">
				</form>
			</div>
		</div>
	</div>
{% endblock %}