{% extends "layout.html" %}
{% block body_content %}
<nav class="navbar navbar-expand-custom navbar-mainbg">
  <a class="navbar-brand navbar-logo" href="/">Home</a>
  <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <div class="hori-selector">
        <div class="left"></div>
        <div class="right"></div>
      </div>
      <li class="nav-item active">
        <a class="nav-link" href="javascript:void(0);"><i class="far fa-address-book"></i>Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);"><i class="far fa-clone"></i>Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);" onclick="redirectHome()"><i class="fas fa-sign-out-alt"></i>Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<div class="heroGridContainer">
		<div id="heroColorBackground"></div>
		<img id="heroBackground" src="/static/images/wave.svg">
		<div class="heroContent">
            <img src="/static/images/logo 2.png" alt="Logo"/>
</div>
</div>
    <div id="heroGridContainer">
        <div class="heroContent">
    <h1>{{dog.dog_name}}</h1>
                <div class="dog_photo_container">
                <div class="dog_photo">
<img src="{{ url_for('static', filename ='images/'+ photo.photo) }}" alt="{{dog.dog_name}}">
                </div>
                </div>
            </div>
</div>

<div class="dog_info_container">
<div class="dog_info">
    <p>Type of dog: {{dog.dog_type.type_name}}</p>
    <p>Location: {{dog.user.city}}</p>
    <p>Owner: {{dog.user.first_name}}</p>
</div>
    </div>
    <div class="description">
<p>{{dog.description}}</p>
    </div>


<div class="contact_info_container">
    <h2>Contact my human</h2>
    <div class="list_container">
<div class="info_list">
<ul>
        Name: {{dog.user.first_name}} {{dog.user.last_name}} <br>
        Phone Number: {{dog.user.phone}} <br>
        Email Address: {{dog.user.email}}

</ul>
    </div>
    </div>
        </div>
</div>

</div>
{% endblock %}

