{% extends "layout.html" %}
{% block body_content %}
<div class='heroGridContainer' id="editBackground">
    <img src="/static/images/logo 2.png" alt="Logo"/>
    <div class="heroContent">
        <h2>Edit Dog Details</h2>
        <div>
            <form method='POST' action=''>
                <!-- provides CRSF protection, alongside secret key. Use on all POST forms -->
                {{ form.csrf_token }}
                    <div class="row editDetailsRow">
                        <div class = "mb-3">
                            <div class="col-md-2" id="largerFont">{{ form.dog_name.label (class_="form-label" ) }}</div>
                            <div class="col-md-10">{{ form.dog_name (class_="form-control", size =32, id="largerFont")}}</div>
                        </div>
                    </div>
                    <div class="row editDetailsRow">
                        <div class = "mb-3">
                            <div class="col-md-2" id="largerFont">{{ form.dog_age.label(class_="form-label")}}</div>
                            <div class="col-md-10">{{ form.dog_age(class_="form-control", size =32, id="largerFont")}}</div>
                        </div>
                    </div>
<!--                    <div class="row editDetailsRow">--> <!-- edit DogType not functional -->
<!--                        <div class = "mb-3">-->
<!--                            <div class="col-md-2">{{ form.dog_type_list.label (class_="form-label") }}</div>-->
<!--                            <div class="col-md-10">{{ form.dog_type_list}}</div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="row editDetailsRow">
                        <div class = "mb-3">
                            <div class="col-md-2" id="largerFont">{{ form.description.label (class_="form-label") }}</div>
                            <div class="col-md-10">{{ form.description(class_="form-control",
                                cols="32", rows="6", id="largerFont")}}</div>
                        </div>
                    </div>
                <div class="row editDetailsRow">
                        <div class = "mb-3">
                            <div class="col-md-2">{{ form.submit(class_="customLinkStyling") }}</div>
                        </div>
                </div>
                <div class="row editDetailsRow">
                        <div class = "mb-3">
                            <button class="customLinkStyling" onclick="redirectCancel({{dog.user.id}})">Cancel</button>
                        </div>
                </div>
                    {{ message }}
            </form>
        </div>
    </div>
<!--    <form method='DELETE' action=''>-->
<!--     {{ delete_form.csrf_token }}-->
<!--        <button type="submit" class="buttonCustom buttonWarning">Remove Dog</button>-->
<!--    </form>-->
</div>
{% endblock %}