{% extends "layout.html" %}
{% block body_content %}
	<div class="gridContainer">
			<div class="logoContainer">
				<img id="waveRotated" src="/static/images/waveRotated.svg">
				<div id="fetchContainer">
					<img src="/static/images/logo 2.png" alt=""> <br>
					<p> Creating Pawsitive Connections </p>
					<img src="/static/images/dog.png">
				</div>

			</div>
			<div class="loginContainer">
				<div id="loginHeading">
					<h1> Login </h1>
					<p>Enter your details to get signed in, if you dont have an account <a href=createAccount>click here to create one!</a></p>
				</div>
				<div id="loginInput">
					<form action="" method="post">
						<input type="email" name="emailInput" id="emailInput" placeholder="Enter Email">
						<input type="password" name="passwordInput" id="passwordInput" placeholder="Password">
						<input type="submit" name="loginInput" id="loginInput" value="Sign in">
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}