	<!-- this is the login page divs. it will display inbetween header and footer -->
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
	<div class="loginContainer">
		<div id="loginHeading">
			<div>
				<img src="static/images/logo 1.png" alt="Logo"/>
				<p> Are you new here? </p>
				<input class ="buttonCustom" type="reset" value="Create an Account">
			</div>
		</div>
		<div id="loginInput">
			<h3> Login Account </h3>
			<p class="error"> {{error}} </p>
			<form method="post">
				<label class="login"> Email Address: </label><br>
				<input type="email" id="emailInput" name="emailInput"><br>
				<label class="login"> Password: </label><br>
				<input type="password" id="passwordInput" name="passwordInput"><br>
				<input class ="buttonCustom" type="submit" value="Submit" >
			</form>
		</div>
	</div>